# Dependabot will run on day 8 of each month at 03:39 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      timezone: "Europe/Berlin"
    target-branch: "master"
    open-pull-requests-limit: 30
